* {
  box-sizing: border-box;
}

body {
  background-color: rgb(244, 244, 244);
  color: #333;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  max-width: 1020px;
  padding: 40px;
}
